# {{ ansible_managed }}

[Unit]
Description=smtp-to-matrix
After=network-online.target

[Service]
ExecStart=/var/lib/smtp-to-matrix/.virtualenvs/smtp-to-matrix/bin/python /usr/local/bin/smtp-to-matrix.py /etc/smtp-to-matrix/config-{{ mailrelay_smtp_to_matrix_relay['name'] }}.yml
PIDFile=/run/smtp-to-matrix.pid
ExecStop=/bin/kill -s QUIT $MAINPID
User=smtp-to-matrix
Group=smtp-to-matrix

[Install]
WantedBy=multi-user.target
